<FilesMatch "(\.(class(\.php)?))|(\.(schema(\.php)?))|(\.(ini))$">
  Order allow,deny
</FilesMatch>
<IfModule mod_rewrite.c>
  RewriteEngine on
  Rewritecond $1 !^structure/
  RewriteRule ^(.*)$ structure/$1 [L]
</IfModule>